<div class="ui {{load}} segment h100" style="overflow: scroll;" id="parent">
    <table class="ui  very compact striped table full">
        <thead>
            <tr>
                <th colspan="2">
                    <div class="ui label">
                        <span class="detail">Information on installed apps</span>
                    </div>
                </th>

                <th colspan="2">
                    <div class="right aligned">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody infinite-scroll="increaseLimit()" infinite-scroll-container='"#parent"'>
            <tr ng-repeat="app in appsList | limitTo:barLimit">
                <td ng-bind="app.nameApp"></td>
                <td></td>
                <td ng-bind="app.package"></td>
            </tr>
        </tbody>
    </table>


</div>